body{
    background: rgb(22,210,224);
    background: linear-gradient(90deg, rgba(22,210,224,1) 0%, rgba(90,127,176,1) 51%, rgba(59,176,185,1) 100%);
}



.card{
   margin-left: 38%;
   margin-top: 10%;
}

.card2{
    margin-left: 0px !important;
}